<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php">
    <filter>
        <whitelist>
            <directory>../src/Clew</directory>
            <exclude>
                <file>../src/Clew/ArgumentFormat.php</file>
                <file>../src/Clew/CommandException.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
